name: CI
on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
jobs:
  test-solutions:
    name: Test Solutions
    runs-on: [self-hosted]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          clean: false

      - name: Test Solutions
        uses: threeal/leettest-action@v0.2.0
        with:
          files: problems/**/solution.cpp

  test-old-solutions:
    name: Test Old Solutions
    runs-on: [self-hosted]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          clean: false

      - name: Build Solutions
        uses: threeal/cmake-action@v2.1.0
        with:
          generator: Ninja

      - name: Check Formatting
        run: |
          cmake --build build --target fix-format
          git diff --exit-code HEAD

      - name: Test Solutions
        uses: threeal/ctest-action@v1.1.0
